/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  --main: #1a4068;
  --second:#b42521; 
  --light-bg: #f5f7fa;
  --border: #dce3ed;
  --text: #333;
  --muted: #777;
  --bg: linear-gradient(90deg, #94f8e1 0%, rgba(255, 255, 255, 1) 30%, #94f8e1 100%);
  --green: #94f8e1;
}

body {
  margin: 0;
  background: var(--light-bg);
  color: var(--text);
  font-size: 16px;
  font-weight: 900;
  font-family: serif;
  font-stretch: ultra-condensed;
}

